@import url('https://fonts.googleapis.com/css?family=Pacifico|Poiret+One|Passion+One|Shadows+Into+Light|Orbitron|Dancing+Script|Chewy|Gloria+Hallelujah|Cinzel');

  
//Background Colors
.aqua-bg
  background-color:aqua;
  
.beige-bg
  background-color:beige;
  
 .chocolate-bg
   background-color:chocolate;
   
  .coral-bg
    background-color:coral;
    
  .crimson-bg
    background-color:crimson
    
   .limegreen-bg
    background-color:limegreen;
    
  .fuchsia-bg
    background-color:fuchsia;
    
   .lightslategray-bg
     background-color:lightslategray;
     
   .lightsteelblue-bg
     background-color:lightsteelblue;
     
    .seagreen-bg
     background-color:seagreen;
      
  //Font Alterations

//Font Weight

.bold
  font-weight:bold; 
  
.normalWeight
  font-weight:normal;
  
//Font Style

.italic
  font-style: italic;
  
.oblique
  font-style:oblique;
  
.normalStyle
  font-style:normal;
  
//Font Variants

.smallCaps
  font-variant:small-caps;
  
 .normalVariant
   font-variant:normal;
  
  //Font Familys

.pacifico
  font-family: 'Pacifico', cursive;
 
.poiretOne
  font-family: 'Poiret One', cursive;
  
 .passionOne
  font-family: 'Passion One', cursive;

.shadow 
  font-family: 'Shadows Into Light', cursive;

.orb
  font-family: 'Orbitron', sans-serif;
 
.dancing
 font-family: 'Dancing Script', cursive;
 
.chewy
  font-family: 'Chewy', cursive;
  
.gloria
  font-family: 'Gloria Hallelujah', cursive;
  
  .cinzel
    font-family: 'Gloria Hallelujah', cursive;
    
 //Colors
 .aqua
  color:aqua;
  
.beige
  color:beige;
  
 .chocolate
   color:chocolate;
   
  .coral
    color:coral;
    
  .crimson
    color:crimson
    
   .limegreen
    color:limegreen;
    
  .fuchsia
    color:fuchsia;
    
   .lightslategray
     color:lightslategray;
     
   .lightsteelblue
     color:lightsteelblue;
     
    .seagreen
     color:seagreen;
    
//Borders

.noBorder
  border-style: none;
  
.dotted
  border-style: dotted;
  
.dashed
  border-style: dashed;
  
.solid
  border-style: solid;
  
.double
  border-style:double;

.groove
  border-style:groove;
  
.ridge
  border-style:ridge;

.inset
  border-style:inset;
  
 .outset
   border-style:outset;
   
//Layouts

.relative
  display relative;

 .column-1-2
  display block
  position absolute
  left 0
  width 50%
  
 .column-2-2
  display block
  position absolute
  right 0
  width 50%
  
 .column-1-3
   display block
   position absolute
   left 0
   width 33%
   
  .column-2-3
    display block
    position absolute
    left 33%
    width 33%
    
  .column-3-3
    display inline
    position absolute 
    right 0 
    width 33%